<template name="steps_add">
  <div class="keypad">
    <h1 class="keypad__display js-duration-display">00:00</h1>
    <div class="keypad__digits">
      <p class="keypad__digits__digit js-duration-digit" data-value="7">7</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="8">8</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="9">9</p>

      <p class="keypad__digits__digit js-duration-digit" data-value="4">4</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="5">5</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="6">6</p>

      <p class="keypad__digits__digit js-duration-digit" data-value="1">1</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="2">2</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="3">3</p>

      <p class="keypad__digits__digit js-duration-digit" data-value="clear">Clear</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="0">0</p>
      <p class="keypad__digits__digit js-duration-digit" data-value="back">Back</p>
    </div>
  </div>
  <button class="js-add-work-step">+ Work</button>
  <button class="js-add-rest-step">+ Rest</button>
</template>