<template name="set">
  <div class="set">

    {{#each steps}}
      <a href="{{pathFor 'steps_edit'}}" class="step-btn step-btn--{{type}}">
        <div class="step-btn__contents">
          <p class="step-btn__contents__type">{{type}}</p>
          <p class="step-btn__contents__duration">{{formatMsAsMinSec duration}}</p>
        </div>
      </a>
    {{/each}}

    <a href="{{pathFor 'steps_add'}}" class="step-btn step-btn--add">
      <div class="step-btn__contents">
        Add Step
      </div>
    </a>
  </div>
</template>