<template name="steps_edit">
  <section class="edit-step">
    {{#with step}}
      <div class="step-btn step-btn--big step-btn--{{type}}">
        <div class="step-btn__contents">
          <p class="step-btn__contents__type">{{type}}</p>
          <p class="step-btn__contents__duration">{{formatMsAsMinSec duration}}</p>
        </div>
      </div>
    {{/with}}

    <button class="btn-circle btn-circle--dark js-delete-step">Del</button>
    
    {{#with timer}}
      <a href="{{pathFor 'timers_show'}}" class="link-text">Cancel</a>
    {{/with}}
  </section>
</template>