/* ==============================================================
   Button - Circle
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Button - Circle `.btn-circle`
// A circular button

.btn-circle {
  display: block;
  width: 5em;
  height: 5em;
  border-radius: 1000em;
  background-color: #aaa;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  typeset: 12;
  
  &:hover {
    text-decoration: none;
  }
  
  &:active {
    opacity: 0.7;
  }

  &:before {
    display: inline-block;
    margin-right: -0.3em;
    width: 1%;
    height: 100%;
    content: "";
    vertical-align: middle;
  }
}


//---------------------------------------------------------------
// Modifiers
//---------------------------------------------------------------

.btn-circle--warning {
  background-color: red;
}