/* ==============================================================
   Edit Step
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Edit Step `.edit-step`
// The layout for editing a step

.edit-step {
  padding: 2em;
  text-align: center;

  .btn-circle,
  .step-btn,
  .link-text {
    margin: 1.5em auto;
  }

  .btn-circle {

  }

  .step-btn {

  }

  .link-text {
    
  }
}