/* ==============================================================
   Layout
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Layout `.layout`
// A generic wrapper around all content

.layout {
  padding: 2em;
  min-height: 100%;
}


//---------------------------------------------------------------
// Modifiers
//---------------------------------------------------------------


.layout--dark {
  background-color: #1a1718;
}