/* ==============================================================
   Layout
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Layout `.layout`
// A generic wrapper around all content

.layout {
  padding: 2em;
}