/* ==============================================================
   Link Text
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Link Text `.link-text`
// A text link

.link-text {
  display: inline-block;
  color: #aaa;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}


//---------------------------------------------------------------
// States
//---------------------------------------------------------------

.link-text[disabled="disabled"],
.link-text[disabled] {
  opacity: 0.5;
}