/* ==============================================================
   Timer Controls
   ============================================================== */

@import "nib";

//---------------------------------------------------------------
// Base
//---------------------------------------------------------------


// ## Timer Controls `.timer-controls`
// The controls attached to the bottom of the Timers Show view

.timer-controls {
  position: fixed;
  background-color: #fff;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  padding: 2em;
  padding-top: 5em;
  background: linear-gradient(top, rgba(white, 0), rgba(white, 1) 3em);
}

//
// Sub-Modules
//